/* container */
.container {width: 1000px; margin: 0 auto;}

/* row */
.row {position: relative; margin: 0 20px;}

/* header */
#header {}

#header .header-data {
    font-weight: 600;
    font-size: 12px;
    padding-top: 30px;
    display: block;
    color:#a8a8a8;
}
#header .header-title {
    font-weight: bold;
    font-size: 32px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    margin-bottom: 16px;
}
#header .header-id {
    position: absolute; right: 0; bottom: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    /*text-align: center;
    line-height: 40px;*/
    display: flex; /* 앞으로 반응형 웹에서는 display: flex로 작업하는게 좋다*/
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(166.26deg, #A4A9B5 5.02%, rgba(164, 169, 181, 0) 90.18%), #C4C4C4;
}

/* bestM */
span.bt-stit {color: #da5e7c; font-size: 12px; line-height: 1.67;}
h2.bt-tit {font-size: 22px; padding-bottom: 5px;}
p.bt-desc {font-size: 22px; font-weight: 300; color: #818181; margin-bottom: 10px;}
/* .bestM {}
.bestM .best-title {}
.bestM .best-title .bt-stit {color: #da5e7c; font-size: 12px; line-height: 1.67;}
.bestM .best-title .bt-tit {font-size: 22px;}
.bestM .bestM .bt-desc {} */

/* mediaquery <- 반응형 스크린*/ 
@media (max-width: 1020px){
    .container {width: 100%;}
}